<div class="jumbotron">
    <?php echo $this->form($this->comparisonForm) ?>
</div>

<?php if ($this->compareRepositoriesResult !== null) : ?>
    <div class="jumbotron">
        <table class="table">
            <tr>
                <th>Repository name</th>

                <?php foreach ($this->compareRepositoriesResult->getRepositoryName() as $name) : ?>
                    <th><?php echo $name ?></th>
                <?php endforeach; ?>

            </tr>
            <tr>
                <th>Repository url</th>
                <?php foreach ($this->compareRepositoriesResult->getRepositoryUrl() as $url) : ?>
                    <th><?php echo $url ?></th>
                <?php endforeach; ?>
            </tr>

            <?php foreach ($this->compareRepositoriesResult->getComparisonArray() as $field => $comparisonArray) : ?>
                <tr>
                    <td><?php echo $field ?></td>
                    <?php foreach ($comparisonArray as $value) : ?>
                        <td><?php echo $value ?></td>
                    <?php endforeach; ?>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
<?php endif; ?>
